/* CART PAGE */

.cart-page{
  padding:180px 8% 120px;

  min-height:100vh;

  background:#050505;
}

/* HEADER */

.cart-header{
  margin-bottom:80px;
}

.cart-header p{
  font-size:0.75rem;

  letter-spacing:6px;

  color:rgba(255,255,255,0.6);

  margin-bottom:20px;
}

.cart-header h1{
  font-size:5.5rem;

  line-height:0.9;

  text-transform:uppercase;
}

/* CART ITEMS */

.cart-container{
  display:flex;

  flex-direction:column;

  gap:30px;

  margin-bottom:80px;
}

.cart-item{
  display:grid;

  grid-template-columns:150px 1fr auto;

  gap:30px;

  align-items:center;

  padding-bottom:30px;

  border-bottom:1px solid rgba(255,255,255,0.08);
}

.cart-item img{
  width:150px;

  height:180px;

  object-fit:cover;
}

.cart-info h3{
  font-size:1.3rem;

  margin-bottom:10px;
}

.cart-info span{
  color:rgba(255,255,255,0.6);
}

.cart-price{
  font-size:1.1rem;
}

/* SUMMARY */

.cart-summary{
  margin-left:auto;

  max-width:450px;

  border-top:1px solid rgba(255,255,255,0.08);

  padding-top:40px;
}

.summary-row{
  display:flex;

  justify-content:space-between;

  margin-bottom:25px;

  color:rgba(255,255,255,0.75);
}

.total{
  font-size:1.2rem;

  color:white;

  margin-top:40px;
}

/* BUTTON */

.checkout-btn{
  width:100%;

  margin-top:40px;

  padding:22px;

  border:none;

  background:white;

  color:black;

  font-weight:600;

  letter-spacing:2px;

  cursor:pointer;

  transition:0.4s ease;
}

.checkout-btn:hover{
  background:#d7d7d7;
}

/* MOBILE */

@media(max-width:768px){

  .cart-page{
    padding:160px 6% 100px;
  }

  .cart-header h1{
    font-size:3.5rem;
  }

  .cart-item{
    grid-template-columns:1fr;
  }

  .cart-item img{
    width:100%;
    height:350px;
  }

  .cart-summary{
    max-width:100%;
  }

}